@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  max-width: 1280px;
  margin: auto;
  min-height: 90vh;
  padding: 10px;
}

/*.card-grid {*/
/*display: grid;*/
/*  align-items: center;*/
/*  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));*/
/*  gap: 1rem;*/
/*  margin: 20px 20px 20px 45px;*/
/*  padding: 30px;*/
/*}*/

.card {
 display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.35rem;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
  background-color: rgba(245,245,245,0.973);
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translate(var(--translate-y, 0));
  height: 250px;
  width: 200px;
  margin: 10px;
}

.card:hover {
--tranlate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.5);
  opacity: 1;
}

.card.flip {
--rotate-y: 180deg;
}

.card .front {
  left: 0;
}

.card .front, .card .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}
.card .back {
  transform: rotateY(180deg);
}
.card .back p {
  max-width: 75px;
}